.below__section{
  display: flex;
  justify-content: space-around;
  background-color: #EBECDC;
}
.below__logo {
    margin-top: 25px;
  }
  
  .below_text {
    font-size: 32px;
    line-height: 29px;
  }
  
  .below__nav {
    margin: 0%;
    padding: 0%;
    list-style-type: none;
  }
  
  .below__nav-list {
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #2D1E1E;
  }
  
  .below__link-text {
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #2D1E1E;
  }
  
  .below__News {
    font-size: 16px;
    line-height: 20px;
    color: #2D1E1E;
  }
  
  .below__link-text_t {
    margin-top: 20px;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #2D1E1E;
  }
  
  @media (max-width: 360.98px) {
    .below__section{
      display: flex;
      flex-direction: column;
    }
  }
 