
*{
    box-sizing: border-box
}
@import 'nature';
@import 'best' ;
@import 'below';
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}
.header{
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
   background-color: #6889A5;
}
.title{
    font-size: 32px;
    color: #FFFFFF;
}
.nav_link{
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    color: #FFFFFF;
}








.choise{
    display: flex;
    flex-wrap: wrap;
}
.choise__img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 516px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #EBECDC;
}
.choise__women{
    background-image: url(../images/women.png);
}
.choise__men{
    background-image: url(../images/men.png);
}
.sign{
    background-color: #EBECDC;
}
 .sign__text-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 280px;
    max-width: 600px;
 }
 .sign__text{
    margin-top: 64px;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #2D1E1E;
 }
 .button__sign{
    margin-top: 50px;
    margin-right: 150px;
    align-self: flex-end;
    border: none;
    background: none;
 }
.checkbox{
    margin-top: 19px;
}
 .sign__checkbox-text{
    margin-left: 160px;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    color: #2D1E1E;
 }
.wool{
    display: flex;
    justify-content: right;
    background-size: cover;
    background-position: center;

  
    background-image: url(../images/sity.png);
}
.wool__text{
    margin-top: 30px;
    margin-right: 245px;
   }
.wool__text-Legacy{
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}
.wool__text-use{
    margin-top: 70px;
    font-size: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.wool_nav{
    margin-top: 130px;
    max-width: 300px;
    margin-left: auto;
}
.wool__link{
    font-size: 13px;
    line-height: 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.box{
    margin-top: 50px;
}
.logo{
    margin: 100px;
    margin-left: auto;
}

.hamburger-menu {
    display: none;
}


#menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition: 0.3s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }




.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }







  #menu__toggle:checked ~ .menu__btn > span {
    transition: 0.3s;
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    transition: 0.3s;
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    transition: 0.3s;
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }



@media (max-width: 1399.98px) {}



@media (max-width: 1199.98px) {}


@media (max-width: 991.98px) {
    .header__title {
     
        font-size: 20px;
    }
}


@media (max-width: 767.98px) {
    .hamburger-menu {
        display: block;
    }

    .nav {
        display: none;
    }

    .header {
        justify-content: center;
        gap: 20px;
    }
}

// Устройства X-Small (портретные телефоны, менее 576 пикселей)
@media (max-width: 575.98px) {
    .header {
        flex-direction: column;
        gap: 5px;
        padding-top: 10px;
        height: auto;

        &__title {
            margin: 0;
        }

        &__img {
            height: 16px;
        }
    }
    .below__link {
    
    }
    .below__logo{
        display: none;
    }
}
@media (max-width: 408.98px) {
    .wool__text-use{
  
    }
    .wool__link{
      
    }
   
    }

@media (max-width: 360.98px) {
    .wool{
        display: flex;
        justify-content: center;
    }
    .wool__text-Legacy {
font-size: 30px;
    }
    
    .sign__text{
        font-size: 10px;
      
    }

  
}
@media (max-width: 360.98px) {
    .below__section{
      display: flex;
      flex-direction: column;
    }
    .wool__text{
        margin-right: 0;
    }
  }

 